@model Workshop.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<h3>分類管理</h3>

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Category</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

    </fieldset>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-success" value="儲存" /> |  
        @Html.ActionLink("回到列表", "Index", "Category")
    </div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
