@model Workshop.Models.SystemUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<h3>使用者管理</h3>

@using (Html.BeginForm("Create", "SystemUser", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>編輯</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Account, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Account, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.Account)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(model => model.Password, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

    </fieldset>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-success" value="建立" />
        | @Html.ActionLink("回到列表", "Index")
    </div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
